akonadi
alarm-clock
ANDronSoft
arora-browser.org
audacious
autostart
banshee-1
brasero
chromium
compiz-1
conduit
dconf
deluge
desktop-couch
diffuse
Dooble
drumstick.sourceforge.net
Empathy
enchant
eog
evince
evolution
exaile
f-spot
gbrainy
gcstar
gedit
geeqie
gmusicbrowser
gnome-control-center
gnome-disk-utility
gnome-mplayer
gnome-session
goa-1.0
google-googletalkplugin
gtk-2.0
gxine
i3
i3status
ibus
indicators
jokosher
listen
Mendeley Ltd.
menus
metacity
midori
monitors.xml
monitors.xml.backup
MusE
MusicBrainz
nautilus
pcmanfm
performous
Pinta
pitivi
qgit
qstardict
qtcurve
rncbc.org
rygel.conf
session-state
smplayer
softwarecenter
software-center
streamripper
syncevolution
Thunar
tomboy
TOra
totem
transmission
Trolltech.conf
ubuntuone
update-notifier
user-dirs.dirs
user-dirs.locale
user-share
vlc
Wuala.cfg
wxbanker
xfburn
xfce4
yarpen.cz
yelp
