akonadi
arora-browser.org
audacious
autostart
awesome
awn
Babiloo
banshee-1
chromium
compiz
compiz-1
dconf
desktop-couch
Dooble
Empathy
enchant
epdfview
evolution
f-spot
geeqie
gmlive
gmusicbrowser
gnome-disk-utility
gnome-mplayer
gnome-session
google-chrome
gtk-2.0
gwibber
ibus
indicators
klavaro
listen
Mendeley Ltd.
menus
metacity
midori
monitors.xml
MusicBrainz
qgit
session-state
software-center
softwarecenter
Syscomp
Thunar
TOra
totem
transmission
Trolltech
Trolltech.conf
ubuntuone
update-notifier
user-dirs.dirs
user-dirs.locale
user-share
Wuala.cfg
xmms2
yelp
